ul{
	list-style-type:none;
}
nav{
	color: white;
}
a{
	display: inline-block;
	text-align: center;
	margin-left: 10px;
}
a:hover{
	font-weight: bold;
}
p{
	margin: 0px;
}

.tekst{
	font-size: 22px;
}
.sporsmaal{

	padding:2px;
	padding-left: 5px;

	font-size: 24px;
	color: white;
	background-color: #5792f2 !important;
}
.svar{
	padding:5px;
	padding-left: 5px;
	padding-bottom: 15px;
	margin-bottom: 15px;
	background-color: #f2f2ff;
}
.overskrift{
	text-align: center;
	margin: 20px;
}
.dbStatus{
	position: fixed;
}
.delete{
	margin-left:60%;
	display:block;
}


.container-fluid{
	padding-right: 0px; 
    padding-left: 0px; 
}
