
    <div class="container">
        <div class="row">
            <div class="col-md-6  col-xs-12">
                <div class="row">
                    <div class="overskrift">
                        <h1>Relevante spørsmål</h1>
                    </div>
                </div>

                <div class="row">
                    {{laster}}
                    <div *ngFor="let StdSpm of alleStdSpm" class="tekst col-md-12">
                        <!--Spørsmål-->
                        <div class="sporsmaal"><p>{{StdSpm.Sporsmaal}}</p></div>
                        <!--Svar-->
                        <div class="svar"><p>{{StdSpm.Svar}}</p></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="row">
                    <div class="col-md-12 overskrift">
                        <h1>Flere spørsmål?</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3" ></div>
                    <div class="col-md-6 ">
                        <form [formGroup]='skjema' (ngSubmit)='postNyttSporsmaal()'>

                            <div class="form-group">
                                <label for="exampleInputEmail1">Epostadresse</label>
                                <input formControlName="Epost"  class="form-control"  placeholder="Skriv epost">
                                <small *ngIf="this.skjema.controls.Epost.status=='INVALID'" class="form-text text-muted">Skriv inn gyldig epost-adresse</small>
                            </div>

                            <div class="form-group">
                                <label >Spørsmål:</label>
                                <textarea formControlName="Sporsmaal"  class="form-control"  placeholder="Skriv ditt spørsmål."></textarea>
                                <small *ngIf="this.skjema.controls.Sporsmaal.status=='INVALID'" class="form-text text-muted">Skriv et spørsmål.</small>
                            </div>

                            <button type="submit" [disabled]="!skjema.valid"  class="btn btn-primary">Send melding</button>
                        </form>
                    </div>
                </div>
                <div class="row" style="margin-top:30px;">
                    <div class="col-md-3"></div>
                    <div class="col-md-9">
                            <button>Adminside</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
